{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.

{plugins, [
    { rebar3_gpb_plugin, "2.5.0" }
]}.

{deps, [
   {'erlzmq', "*", {git, "git@github.com:zeromq/erlzmq.git"}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [frontend]}
]}.

{provider_hooks, [
    {pre, [
        {compile, {protobuf, compile}},
        {clean, {protobuf, clean}}
    ]}
]}.

{gpb_opts, [
    {i, "proto"},
    {module_name_suffix, "_pb"},
    {o_erl, "src"},
    {o_hrl, "include"},
    {strings_as_binaries, true},
    type_specs]}.

{relx, [{release, {frontendrel, "0.0.1"},
     [frontend]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}]}.
